streamlit>=1.33
requests>=2.31
beautifulsoup4>=4.12
matplotlib>=3.8
graphviz>=0.20
playwright>=1.42
pyvis
spacy
da-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/da_core_news_sm-3.7.0/da_core_news_sm-3.7.0-py3-none-any.whl